body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .screen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(195, 169, 220);
  }
  .auto {
    width: 100%;
    height: 350px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px, 10px, 0px, 10px;
  }
  .auto img {
    width: 100%;
    height: 300px;
  }
  .get_button,
  .delete_button,
  .post_button,
  .put_button {
    width: 100px;
    height: 20px;
    background-color: rgb(163, 152, 152);
  }